<!-- <div class="container" style="text-align:center">
    <div class="row" >
        <form #userSignUpForm="ngForm" (ngSubmit) ="signupFunction()" multipart="form-data">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3><strong>Please Signup</strong></h3></div> 
                    <div class="panel-body">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" name="firstName" [(ngModel)]="first_name" #userFirstName="ngModel">
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" name="last_name" [(ngModel)]="last_name" #userLastName="ngModel">
                        </div>
                        <div class="form-group">
                            <label>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="text" name="user_email" [(ngModel)]="user_email" #userEmail="ngModel">
                        </div>
                        <div class="form-group">
                            <label>Password&nbsp;</label>
                            <input type="text" name="user_password" [(ngModel)]="user_password" #userPassword="ngModel">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <button type="submit" class='btn btn-primary'>Signup</button>&nbsp;&nbsp;<a [routerLink]="['/login']" style="text-decoration:none">Already have an account? Please Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->

<div class="login-page">
    <div class="form">
        <form   #userSignInForm="ngForm" (ngSubmit)="signupFunction()" multipart="form-data" class="login-form">
            <input type="text" name="first_name" [(ngModel)]="first_name" #userFirstName="ngModel" placeholder="lastname">
            <input type="text" name="last_name" [(ngModel)]="last_name" #userLastName="ngModel" placeholder="Lastname">
            <input type="text" name="user_email" [(ngModel)]="user_email" #userEmail="ngModel" placeholder="Email">
            <input type="text" name="user_age" [(ngModel)]="user_age" #userAge="ngModel" placeholder="Age">
            <input type="text" name="user_password" [(ngModel)]="user_password" #userPassword="ngModel" placeholder="Password">
            <button>Signup</button>
            <p class="message">Already registered? <a [routerLink]="['/login']">Sign In</a></p>
        </form>
    </div>
  </div>