<div class="container" style="text-align:center" >
  <div class="row" *ngIf="current_user">
    <h3><strong>Welcome {{current_user.first_name.charAt(0).toUpperCase()+ current_user.first_name.slice(1)}}</strong></h3>
    <h4><p>Email: {{current_user.user_email}}</p>
    <p>Firstname: {{current_user.first_name}}</p>
    <p>Lastname: {{current_user.last_name}}</p>
    <p>Age: {{current_user.user_age}}</p></h4>
    <a class="btn btn-primary" [routerLink]="['/edit',current_user.user_id]">Edit Profile</a>                
  </div>
  <br/><br/>
  <div class="row" *ngIf="current_user">
      <h3><strong>Upload CSV file</strong></h3><input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />    
  </div>
  <div>
    <table datatable  class="row-border hover" border="1px">
      <thead style="background-color:lightgray;">
        <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of userData">
          <td>{{ data.first_name }}</td>
          <td>{{ data.last_name }}</td>
          <td>{{ data.user_email }}</td>
          <td>{{ data.user_age}}</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
